* {
	font-family: 'Montserrat', sans-serif;
}

body {
	height: 90vh;

	color: #14213D;
	background-color: #31E4BB;

	font-size: 14px;
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	height: 90%;

	text-align: center;
}

.header {
	color: #14213D;

	font-family: 'Londrina Outline', 'Montserrat', sans-serif;
	font-size: 2.5rem;
}

/* JOKE */

.joke__container {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-around;

	width: 300px;
	height: max-content;
	min-height: 200px;
	padding: 0 1rem;

	border: 2px solid #14213D;
	border-radius: 10px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);

	font-size: 1.2rem;
	font-weight: bold;
}

/* BUTTON */

.button {
	position: absolute;
	right: -20px;
	bottom: -25px;

	width: 180px;
	padding: 1rem 1.2rem;

	cursor: pointer;

	border: 2px solid #14213D;
	border-radius: 5px;
	background-color: #31E4BB;
}

.button:active {
	transform: scale(.98);
}

.button__cta {
	-webkit-animation: fadein 1s; /* Safari and Chrome */
	-moz-animation: fadein 1s; /* Firefox */
	animation: fadein 1s;
}

/* LOADER */

.button__loader {
	position: relative;

	display: none;

	width: 1rem;
	height: 1rem;
	margin: 0 auto;
}

.button__loader:before,
.button__loader:after {
	position: absolute;
	top: 0;
	left: 0;

	width: inherit;
	height: inherit;

	content: '';
	animation: loading 2s infinite ease-in-out;

	opacity: .6;
	border-radius: 50%;
	background-color: #14213D;
}

.button__loader:after {
	animation-delay: -1s;
}

/* ERROR */

.isHidden {
	display: none;
}

/* ANIMATIONS */

@keyframes loading {
	0%,
	100% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
}
@-moz-keyframes loading {
	0%,
	100% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
}
@-webkit-keyframes loading {
	0%,
	100% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes fadein {
	/* Firefox */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes fadein {
	/* Safari and Chrome */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
