.ball {
	position: relative;

	width: 400px;
	height: 400px;

	border-radius: 100%;
	background: rgb(25, 25, 25);
	box-shadow: inset -10px 10px 50px rgba(0, 0, 0, .4), inset 5px -5px 50px rgba(0, 0, 0, 1),
	inset 50px -50px 200px rgba(0, 0, 0, 1), inset 0 -20px 20px rgba(60, 0, 60, 1),
	inset -1px 2px 20px 4px #FFFFFF7A, 0 0 50px #FFFFFFA1, 0 0 30px 0 #3900BF8C;
}

.ball__response {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 160px;
	height: 160px;

	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	border: solid 4px rgba(20, 20, 20, .8);
	border-radius: 100%;
	background: linear-gradient(45deg, rgba(20, 0, 20, 1) 0%, rgba(40, 0, 20, 1) 100%);
	box-shadow: 10px -10px 10px rgba(20, 20, 20, .6), 10px -10px 1px rgba(20, 20, 20, .5),
	-10px -10px 1px rgba(20, 20, 20, .5), 10px 10px 1px rgba(23, 20, 20, .5), -10px 10px 1px rgba(19, 17, 17, .5),
	8px -10px 10px rgba(20, 20, 20, .6), -8px 10px 10px rgba(39, 39, 39, .6),
	inset -10px 10px 40px rgba(200, 0, 20, .1), inset 10px -10px 40px rgba(20, 0, 200, .1);
}

.ball__triangle {
	position: absolute;
	top: 60%;
	left: 50%;

	-webkit-transform: translate(-50%, -50%) rotate(5deg);
	transform: translate(-50%, -50%) rotate(5deg);

	opacity: 0;
	border-right: 55px solid transparent;
	border-left: 55px solid transparent;
}

.ball__answer {
	position: absolute;
	top: 52%;
	left: 51%;

	width: 55px;
	height: 60px;
	margin-top: 20px;

	transition: ease-in all .2s;
	-webkit-transform: translate(-50%, -50%) rotate(5deg);
	transform: translate(-50%, -50%) rotate(5deg);
	text-align: center;
	text-transform: uppercase;

	opacity: 0;
	color: white;
	text-shadow: 1px 1px 2px black;
	text-shadow: 0 0 5px #FFFFFF, 0 0 10px #FFFFFF, 0 0 15px #FFFFFF, 0 0 20px #3F04CA, 0 0 35px #3F04CA, 0 0 40px #3F04CA,
	0 0 50px #3F04CA, 0 0 75px #3F04CA;

	font-size: 1.2rem;
}

.ball .ball__answer {
	transition: ease-in all .2s;
	-webkit-transform: translate(-50%, -50%) rotate(0deg);
	transform: translate(-50%, -50%) rotate(0deg);

	opacity: 1;
}

.ball .ball__triangle {
	transition: ease-in all .2s;
	-webkit-transform: translate(-50%, -50%) rotate(0deg);
	transform: translate(-50%, -50%) rotate(0deg);

	opacity: 1;
	border-top: 90px solid #3F04CA;
}

.shake__ball {
	transform: translate3d(0, 0, 0);
	animation: shake 1s cubic-bezier(.5, -.75, .7, 2) both;

	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-5px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(10px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-10px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(5px, 0, 0);
	}
}

@media (max-width: 500px) {
	.ball {
		width: 275px;
		height: 275px;
	}

	.ball__response {
		width: 110px;
		height: 110px;
	}

	.ball__triangle {
		border-right: 40px solid transparent;
		border-left: 40px solid transparent;
	}

	.ball__answer {
		width: 30px;
		height: 45px;

		font-size: .8rem;
	}
	.ball .ball__triangle {
		border-top: 50px solid #3F04CA;
	}
}
